*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 1) */
.num1{
    width: 200px;
    height: 200px;
    background-color: black;
}

.num1:hover{
    transform: translate(50px,0px);
}
/* 2) */
.num2{
    width: 200px;
    height: 200px;
    background-color: red;
}

.num2:hover{
    transform: scale(2);
}
/* 3) */
.num3{
    width: 200px;
    height: 200px;
    background-color: green;
}

.num3:hover{
    transform: scale(1.5);
}
.num3:active{
    transform: scale(0.5);
}
/* 4) */

.num4{
    width: 200px;
    height: 200px;
    background-color: cyan;
}

.num4:hover{
    transform: rotate(180deg);
}
/* 5) */
.num5{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: color 1s, transform 5s;
    transition-delay: 2s;
}

.num5:hover{
    background-color: blueviolet;
    transform: rotate(180deg);
}