@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

#b1{
    text-shadow: 5px 10px 5px;
    
}

#b2{
    font-family: Pacifico, sans-serif;
}

#b3{
    font-family: Roboto;
}

#b4{
    font-family:Playwrite AU SA, sans-serif;
}
